// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.list-group-item {
    .controls {
        display: flex;
    }
}

body {
    font-family: 'Merriweather', serif;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        padding: 0 7px;
        color: brown;
        transition: all 0.4s;
        &:hover {
            color: darkcyan;
        }
    }
}

.color-bin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .controls {
        display: flex;
    }
    .color-box {
        padding: 20px;
        width: 250px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0;
            text-transform: capitalize;
            letter-spacing: 2px;
            text-shadow: 1px 1px white;
            color: black;
        }
    }
}

.color-box2 {
    padding: 5px 20px;
    border-radius: 10px;
    h2 {
        margin: 0;
        text-transform: capitalize;
        letter-spacing: 2px;
        text-shadow: 1px 1px white;
        color: black;
    }
    i {
        text-shadow: 1px 1px white;
        color: black;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
}

h1.nice {
    text-shadow: 1px 1px white;
    color: black;
    letter-spacing: 12px;
    font-size: 40px;
}
.todo-bin{
    .todo-box{
        h2{
            background-color: aquamarine;
            padding: 6px;
            border-radius: 6px;
        }
        h4{
            border: 1px solid black;
            border-radius: 6px;
            padding: 6px;
        }
    }
}
.front-bin{
    .front-box{
        display: flex;
        height: 45px;
        border-radius: 12px;
        h2{

            padding: 6px;
            border-radius: 6px;
        }
        h6{
            margin: 8px;
            background-color:  rgb(255,255,255, 0.5);
            height: 30px;
            padding: 6px;
            vertical-align: middle;
            border: 1px solid black;
            border-radius: 6px;

        }
    }
}
.user-bin{
    border: solid 1px black;
    border-radius: 15px;
    padding: 8px 5px 5px;
    .user-box{
        display: flex;
        h2{
            width: 50%;
            background-color: #a0aec0;
            font-size: 16px;
            padding: 6px;
            border-radius: 6px;
        }
        h4{
            border: 1px solid black;
            background-color: crimson;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 1px 1px 1px #fff;
            border-radius: 6px;
            padding: 6px;
        }
    }
}
.count_size{
    height: 1rem;
    width: 10rem;
    margin-top: 8px;
    background-color: rgb(240, 240, 240, 0.7);
}
