form, li {
    list-style: none;
}
ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.color-box{
    margin: 5px;
    width: 65px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    font-size: 14px;
    color: #e2e8f0;
}
.animal-box{
    margin: 5px;
    width: 95px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    font-size: 14px;
    color: #e2e8f0;
}
form {
    margin: 20px;
    padding: 10px;
    border: 1px solid crimson;

}
.bankCreate{
    margin-top: 0;
    border: none;
    background-color: #e2e8f0;
    display: flex;
    justify-content: flex-start;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
.bankH1{
    text-align: center;
    background-color: dimgrey;
}
.btn-sm{
    border: none;
    height: 25px;
    align-items: center;



}
.destroyClass{
    margin: 0;
    padding: 0px;
}
.bankContainer{
    display: inline-block;
    width: 100vw;
}
.bankTop{
    background-color: darkgreen;
    color: white;
    text-align: center;
}
.bankTable{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
.bankCreate{
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

}
.linkBank{
    text-align: center;
}
.destroyAccount{
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
    width: 45px;
    font-size: 12px;
    vertical-align: text-top;
}
.alert-success{
    background-color: forestgreen;
    padding: 10px;
    display: flex;
}
nav a {
    display: inline-block;
    font-size: 150%;
    text-decoration: none;
    margin: 30px;
    color: crimson;
}
